@import "button";

.info{
    @extend %btnStyle;
    background-color: darkgrey;
}

.alert{
    @extend %btnStyle;
    background-color: darkred;
}

.success{
    @extend %btnStyle;
    background-color: darkgreen;
}