body {
    margin: 0;
    background-color: lightgray;
    color: rgb(36, 34, 34);

    main {
        position: fixed;
        z-index: 2;
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-text-stroke: 1px white;
        color: transparent;
        .time {
            border-bottom: 2px solid white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            font-size: 100px;
            font-weight: bold;
            &:hover {
                color: rgb(240, 215, 215);
            }
        }
    }

    .bgVideo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
    }
}
